name: WFB-ng-osd package builder for RPI

on:
  push:
    branches: [ master, release-24.08 ]
  pull_request:
    # The branches below must be a subset of the branches above
    branches: [ master, stable ]

jobs:
  build_and_test:
    runs-on: ubuntu-22.04
    strategy:
      fail-fast: false
      matrix:
        docker-images:
          - "2023-02-21-raspios-bullseye-armhf-lite"
          - "2023-02-21-raspios-bullseye-arm64-lite"

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: build package
        run: |
          curl -s -L https://github.com/svpcom/wfb-ng/releases/download/wifibroadcast-17.10/qemu-7.2.13-fixed.tar.gz | sudo tar xzv -C /
          git submodule update --init
          make osd_docker DOCKER_SRC_IMAGE=p2ptech/cross-build:${{ matrix.docker-images }}
      - name: Archive production artifacts
        uses: actions/upload-artifact@v4
        id: artifact-upload-step
        with:
          name: wfb-ng-osd-${{ github.ref_name }}-${{ matrix.docker-images }}
          path: |
            osd.gst
      - name: Output artifact URL
        run:  echo 'wfb-ng-osd-${{ github.ref_name }}-${{ matrix.docker-images }} ${{ steps.artifact-upload-step.outputs.artifact-url }}'
